<div id="" class="container_Menu d-flex gap-5 ">
<div id="CarroselLanches" class="carousel slide w-50">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Image/3.jpg" class="d-block w-100 " alt="tres hamburgueres">
        </div>  
        <div class="carousel-item">
            <img src="~/Image/LancheNatural.jpg" class="d-block w-100  " alt="Lanche natural com um suco detox  ">
        </div>
        <div class="carousel-item">
            <img src="~/Image/Sanduiches.jpg" class="d-block w-100 " alt=" 4 Sanduiches  ">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#CarroselLanches" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#CarroselLanches" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

    <div class=" w-50 bg-warning  ">
    <br />
        <h2 class="titulo text-center"> Nossas Categorias:</h2>
    <ul class="list-group">   
        
        <li class="list-group-item">Naturais </li>
            <li class="list-group-item"> Hamburgueres Artesanais </li>
        <li class="list-group-item">Sanduiches Perfomaticos </li>
        <li class="list-group-item">Salgados para festas</li>
      
    </ul>
    
</div>
</div>